@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

.querybox {
  background: grey;
  height: 500px;
}

.centeredAll {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
