// @import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
// @import '../bower_components/Bootflat/bootflat/scss/bootflat';

@import "../bower_components/bootstrap-less/less/bootstrap";


// @
.querybox {
  background: grey;
  height: 500px;
}


.queryblock{
  position:absolute;
  width:300px;
  height:300px;
  align-items: center;
}

.flex{
  background:blue;
  flex:1;
  display:flex;
}
