@clr-body: hsla(0, 0%, 94%, 1);
@clr-panel-bg: hsla(0, 0%, 58%, 1);
@clr-panel-bg-lighter: lighten(@clr-panel-bg, 20%);
@clr-highlight-bg: lighten(@clr-panel-bg, 50%);
@clr-highlight-color: black;
@clr-debug: hsla(42, 60%, 79%, 0.29);
@clr-panel-bg-disabled: hsla(0, 0%, 45%, 1);

@steps: 8;
@gradbase: hsla(217, 38%, 39%, 1%);



@import "../bower_components/animate.less/animate.less";

@animationDurationTime: 0.1s;

.uiblock-container {

  margin-left: 30px;
  margin-bottom: 30px;
  display: inline-flex;
  flex-direction: row;
  flex: 1 0 auto;
  .animated;
  .fadeInDown;
  align-items: stretch;

  .contents {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    flex: 1 0;
    background: @clr-panel-bg-lighter;

    .title {
      font-weight: 600;
      font-size: 2em;
    }

    .views {
      text-align: left;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px;
          color: black;
        }

        li:hover {
          color: black;
          background: white;
        }
      }

    }

    .toolbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  .disabled {
    background: @clr-panel-bg-disabled;
  }

  .children {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;

    .children-entities {
      display: flex;
      flex-direction: column;
    }

  }


}

.flash {
  .animated;
  .wobble;
}

.attn {
  .animated;
  .flash;
}

.tinylabel {
  font-size: 10px;
}

.divider {
  width:100%;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.dotted {
  background: white;
  border: 2px dashed blue;
}
